/**
 * @name Nyx
 * @version 1.0.0.
 * @description A clean, dark, modern theme for BetterDiscord / Vencord
 * @source https://github.com/Corvo2408/Nyx
 * @author Corvo2408
*/

@import url(https://corvo2408.github.io/Nyx/main.css);

/* Settings */
:root {
	/* Font customization */
	--font: 'Roboto'; /* Set To 'gg sans' to revert to the default Discord font
	/* Top left corner text */
	--corner-text: 'Nyx';
	/* Status indicators and window controls */
	--online-indicator: hsl(115, 100%, 50%);
	--dnd-indicator: hsl(0, 100%, 50%);
	--idle-indicator: hsl(50, 100%, 50%);
	--streaming-indicator: hsl(260, 75%, 54%);
	/* Accent colors */
	--accent-1: hsl(0, 0%, 60%);
	--accent-2: hsl(0, 0%, 48%);
	--accent-3: hsl(0, 0%, 42%);
	--accent-4: hsl(0, 0%, 36%);
	--accent-5: hsl(0, 0%, 30%);
	--mention: hsla(0, 0%, 52%, 0.1);
	--mention-hover: hsla(0, 0%, 52%, 0.05);
	/* Text colors */
	--text-0: white;
	--text-1: var(--text-2);
	--text-2: hsl(0, 0%, 100%);
	--text-3: hsl(0, 0%, 79%);
	--text-4: hsl(0, 0%, 59%);
	--text-5: hsl(0, 0%, 25%);
	/* Background and dark colors */
	--bg-1: hsl(0, 0%, 20%);
	--bg-2: hsl(0, 0%, 16%);
	--bg-3: hsl(0, 0%, 13%);
	--bg-4: hsl(0, 0%, 10%);
	--hover: hsla(0, 0%, 40%, 0.1);
	--active: hsla(0, 0%, 40%, 0.2);
	--message-hover: hsla(0, 0%, 0%, 0.1);
	/* Spacing and padding */
	--spacing: 12px;
	/* Animations */
	--list-item-transition: 0.2s ease;
	--unread-bar-transition: 0.2s ease;
	--icon-spin-transition: 1s ease;
	/* Corner roundness (border-radius) */
	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;
}