/**
 * @name Nyx
 * @version 2.0.0
 * @description A clean, dark, modern theme for BetterDiscord / Vencord
 * @source https://github.com/Corvo2408/Nyx
 * @author Corvo2408
*/

/* import theme modules */
@import url(https://corvo2408.github.io/Nyx/main.css);

body {
    /* font, change to '' for default discord font */
    --font: 'Roboto';

    /* sizes */
    --gap: 10px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */

	/* dms button icon options */
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/8/82/Crow_%2825964%29_-_The_Noun_Project.svg'); /* icon svg url. MUST BE A SVG. */
}

:root {
	/* Text colors */
	--text-0: white;
	--text-1: var(--text-2);
	--text-2: hsl(0, 0%, 100%);
	--text-3: hsl(0, 0%, 79%);
	--text-4: hsl(0, 0%, 59%);
	--text-5: hsl(0, 0%, 25%);
	/* Background and dark colors */
	--bg-1: hsl(0, 0%, 20%);
	--bg-2: hsl(0, 0%, 16%);
	--bg-3: hsl(0, 0%, 13%);
	--bg-4: hsl(0, 0%, 10%);
	--hover: hsla(0, 0%, 40%, 0.1);
	--active: hsla(0, 0%, 40%, 0.2);
	--active-2: hsla(220, 19%, 40%, 0.3); /* extra state for transparent buttons */
	--message-hover: hsla(0, 0%, 0%, 0.1);

	/* accent colors */
	--accent-1: var(--blue-1); /* links and other accent text */
	--accent-2: var(--blue-2); /* small accent elements */
	--accent-3: var(--blue-3); /* accent buttons */
	--accent-4: var(--blue-4); /* accent buttons when hovered */
	--accent-5: var(--blue-5); /* accent buttons when clicked */
	--accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */

	/* status indicator colors */
    --online: var(--green-2); /* change to #43a25a for default */
    --dnd: var(--red-2); /* change to #d83a42 for default */
    --idle: var(--yellow-2); /* change to #ca9654 for default */
    --streaming: var(--purple-2); /* change to #593695 for default */
    --offline: var(--text-4); /* change to #83838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* light border color */
    --border: var(--active); /* normal border color */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */

	/* base colors */
    --red-1: oklch(0.63 0.2872 29.23);
    --red-2: oklch(0.63 0.2872 29.23);
    --red-3: oklch(0.63 0.2872 29.23);
    --red-4: oklch(0.63 0.2872 29.23);
    --red-5: oklch(0.63 0.2872 29.23);

    --green-1: oklch(0.86 0.37 142.4953);
    --green-2: oklch(0.86 0.37 142.4953);
    --green-3: oklch(0.86 0.37 142.4953);
    --green-4: oklch(0.86 0.37 142.4953);
    --green-5: oklch(0.86 0.37 142.4953);

    --blue-1: oklch(0.6 0 0);
    --blue-2: oklch(0.48 0 0);
    --blue-3: oklch(0.42 0 0);
    --blue-4: oklch(0.36 0 0);
    --blue-5: oklch(0.3 0 0);

    --yellow-1: oklch(0.92 0.37 102.8911);
    --yellow-2: oklch(0.92 0.37 102.8911);
    --yellow-3: oklch(0.92 0.37 102.8911);
    --yellow-4: oklch(0.92 0.37 102.8911);
    --yellow-5: oklch(0.92 0.37 102.8911);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);
}
