/**
 * @name Nyx
 * @version 2.0.0
 * @description A clean, dark, modern theme for BetterDiscord / Vencord
 * @source https://github.com/Corvo2408/Nyx
 * @author Corvo2408
*/

/* import theme modules */
@import url(https://corvo2408.github.io/Nyx/main.css);

:root {
	/* Font customization */
	--font: 'Roboto'; /* Set To 'gg sans' to revert to the default Discord font
	/* Top left corner text */
	--corner-text: 'Nyx';
	/* Status indicators and window controls */
	--online-indicator: hsl(115, 100%, 50%);
	--dnd-indicator: hsl(0, 100%, 50%);
	--idle-indicator: hsl(50, 100%, 50%);
	--streaming-indicator: hsl(260, 75%, 54%);
	/* Accent colors */
	--accent-1: hsl(0, 0%, 60%);
	--accent-2: hsl(0, 0%, 48%);
	--accent-3: hsl(0, 0%, 42%);
	--accent-4: hsl(0, 0%, 36%);
	--accent-5: hsl(0, 0%, 30%);
	--mention: hsla(0, 0%, 52%, 0.1);
	--mention-hover: hsla(0, 0%, 52%, 0.05);
	/* Text colors */
	--text-0: white;
	--text-1: var(--text-2);
	--text-2: hsl(0, 0%, 100%);
	--text-3: hsl(0, 0%, 79%);
	--text-4: hsl(0, 0%, 59%);
	--text-5: hsl(0, 0%, 25%);
	/* Background and dark colors */
	--bg-1: hsl(0, 0%, 20%);
	--bg-2: hsl(0, 0%, 16%);
	--bg-3: hsl(0, 0%, 13%);
	--bg-4: hsl(0, 0%, 10%);
	--hover: hsla(0, 0%, 40%, 0.1);
	--active: hsla(0, 0%, 40%, 0.2);
	--message-hover: hsla(0, 0%, 0%, 0.1);
	/* Spacing and padding */
	--spacing: 12px;
	/* Animations */
	--list-item-transition: 0.2s ease;
	--unread-bar-transition: 0.2s ease;
	--icon-spin-transition: 1s ease;
	/* Corner roundness (border-radius) */
	--roundness-xl: 22px;
	--roundness-l: 20px;
	--roundness-m: 16px;
	--roundness-s: 12px;
	--roundness-xs: 10px;
	--roundness-xxs: 8px;

	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/8/82/Crow_%2825964%29_-_The_Noun_Project.svg'); /* custom icon url */

	/*Boosting Colours*/
	--guild-boosting-blue: var(--accent-1);
	--guild-boosting-purple: var(--dnd-indicator);

	/* Filters for uncolorable elements */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2);
	
	/* Server bar customizations */
	--server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
	--server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
	--server-container: calc(var(--server-size) + 20px);
	--server-direction: var(--HSL-server-direction, column);
	--server-alignment: var(--HSL-server-alignment, flex-start);
}
